asgiref==3.8.1
Brotli==1.1.0
click==8.1.7
dj-database-url==2.2.0
Django==4.2.15
django-cors-headers==4.4.0
django-filter==24.3
djangorestframework==3.15.2
drf-standardized-errors==0.14.1
gunicorn==23.0.0
h11==0.14.0
importlib_metadata==8.2.0
Markdown==3.7
packaging==24.1
psycopg2-binary==2.9.9
sqlparse==0.5.1
typing_extensions==4.12.2
uvicorn==0.30.6
whitenoise==6.7.0
zipp==3.20.0
